*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /* background-color:#21211e; */
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  overflow:hidden
}

.input-field{
  position:relative;
  width:400px;
  height:40px;
  margin-bottom:30px;
  cursor:pointer;
}

.input-field>input{
  background:transparent;
  border:1px solid gray;
  height:100%;
  outline:none;
  width:100%;
  transition:0.5s;
  /* color:white; */
}

.input-field>span{
  pointer-events:none;
  padding-inline:10px;
  display:inline-block;
  position: absolute;
  top:50%;
  left:10px;
  transform:translateY(-50%);
  color:#6df55b;
  transition:0.3s;
}

.input-field>input:focus,
.input-field>input:valid{
  border:1px solid #6df55b;
}

.input-field>input:focus~span,
.input-field>input:valid~span{
  top:0%;
  left:10px;
  background-color:#21211e;
  border-left:1px solid #6df55b;
  border-right:1px solid #6df55b;
}
